<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <form class="frm" action="/admin/users/modify" method="post">
      <input type="hidden" name="uid" value="<%= user.uid %>">
      Name:<input type="text" name="name" value="<%= user.name %>"><br>
      <br>
      Email: <%= user.email %><br>
      <br>
      Role:<select name="role">
              <option value="ADMIN">Admin</option>
              <option value="USER">User</option>
          </select><br>
          <br>
          <button type="submit" name="button">Modify</button>
    </form>
  </body>
  <script type="text/javascript">
    frm.role.value = '<%= user.role %>'
  </script>
</html>
